.item {
  background: #f6fafd;
  border: 1px solid #f2f0fe;
  border-radius: 10px;
}

.top {
  position: relative;
}
.title,
.price,
.userWrapper,
.plan,
.dateWrapper,
.status {
  margin-bottom: 20px;
}
.title,
.price,
.status {
  font-weight: 600;
  font-size: 18px;
}
.plan,
.date {
  color: #b0aad0;
}
.price {
  color: #1dbf73;
  &.black {
    color: #222;
    margin-bottom: 0;
  }
}
.userWrapper,
.dateWrapper,
.buttons,
.button {
  display: flex;
  align-items: center;
}
.userImg {
  width: 60px;
  height: 60px;
}
.nameWrapper {
  margin-left: 12px;
}
.name {
  margin-bottom: 10px;
  color: #000;
}
.projects {
  color: #b0aad0;
  font-size: 14px;
  font-weight: 400;
}
.info {
  padding: 20px;
}
.star {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.date {
  margin-left: 20px;
}
.button {
  width: 124px;
  height: 36px;
  font-weight: 600;
  justify-content: center;
  &.chat {
    background-color: #d7ffec;
  }
  &.more {
    background-color: #ebe8ff;
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .price{
    &.black{
      font-size: 14px;
    }
  }
  .item,
  .img {
    width: 260px;
  }
  .info {
    padding: 15px;
  }
}
