.label,
.input {
  display: block;
}

.label {
  margin-bottom: 10px;
  font-size: 18px;
}

.item {
  margin-bottom: 20px;
}

.input {
  padding: 10px 20px;
  max-width: 644px;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #f2f0fe;
  font-size: 16px;
  &::placeholder {
    color: #b0aad0;
  }
}

.textarea {
  font-family: Mon;
  max-width: 738px;
  width: 100%;
  resize: none;
  padding: 40px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #f2f0fe;
  &::placeholder {
    color: #b0aad0;
  }
}

.selects{
  display: flex;
 align-items: center;
 margin-bottom: 30px;
}
.select{
  &:last-child{
    margin-left: 30px;
  }
}



.buttonWrapper{
  display: flex;
  align-items: center;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  cursor: pointer;
  background: #1dbf73;
  border-radius: 40px;
  padding: 12px 36px;
  border: 0;
  outline: 0;
  font-weight: 600;
  color: #f6fafd;
  font-size: 16px;
  &.back{
    background: #F2F0FE;
    color: #656084;
  }
}
.uploadFile{
  margin-bottom: 40px;
}

@media(max-width: 600px){
.selects{
  flex-direction: column;
  align-items: flex-start;
}
.select{
  &:last-child{
    margin-left: 0;
    margin-top: 30px;
  }
}
}

@media(max-width: 360px){
  .buttons{
    flex-direction: column-reverse;
  }
  .back{
    margin-top: 30px;
  }
}

