.title,
.subtitle,
.item{
  margin-bottom: 20px;
  color: #000;
}
.title{
  text-align: center;
}
.subtitle,
.item{
  font-size: 14px;
}
.subtitle{
  font-weight: 700;
}
.item{
  font-weight: 400;
}

