.item:not(:first-child) {
  margin-left: 40px;
}
.item{
 white-space: nowrap;
 &:hover{
      color: #1dbf73;
      transition: color 0.5s ease;
    }
}

@media (max-width: 1300px) {
  .item:not(:first-child) {
    margin-left: 0;
  }
  .item{
    padding: 10px 10px;
    
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
}


@media (max-width: 400px){
  .item.active{
    font-size: 24px;
  }
}