.loadMore{
  display: flex;
  justify-content: center;
}
.button{
  padding: 16px 48px;
  font-weight: 600;
  font-size: 18px;
  color: #1dbf73;
  border: 1px solid #1DBF73;
}

@media(max-width: 500px){
  .button{
    font-size: 16px;
  }
}