.title,
.top{
  margin-bottom: 60px;
}
.title{
  text-align: center;
  >span{
    color: #fba457;
  }
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 500px){
  .title{
    margin-bottom: 20px;
    font-size: 20px !important;
  }
  .topTitle{
    font-size: 14px !important;
  }
}